.body-form {
  font-family: Arial, sans-serif;
  background-color: #000000d4;

}

.contacto {
  color: #000000;
  padding: 15px;
}



.label-contacto {
  display: block;
  margin-bottom: 8px;
  color: #ff0a0a;
  padding: 5px 15px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}