.main__contacto{
  background-image: url(../images/630617.png);
  
}

    .body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      
    }
    
    .body h1 {
      text-align: center;
      color: #333;
    }
    
    .container {
      max-width: 400px;
      margin: 0 auto;
      background-color: #fff;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 50px;
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    .form-group label {
      display: block;
      margin-bottom: 5px;
      color: #333;
    }
    
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group textarea {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    
    .form-group textarea {
      resize: vertical;
      height: 100px;
    }
    
    .form-group button {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .form-group button:hover {
      background-color: #555;
    }


@media (max-width: 600px) {
  .container {
    width: 90%;
  }
  .container {
    padding-top: 40px;
  }
  
}