@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}





/* menu de navegacion*/


.menu-navegador { 
  
    background-color: black;
    padding: 3px;
    text-align: left;
    top: 0px;
    width: 100%;
    
    

}

.menu-navegador li {
  
    list-style: none;
    display: inline;

}

.menu-navegador ul li {
  
  
    display: inline;
    padding: 10px;
}

.menu-navegador ul li a {
  
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-transform: uppercase;
}
.logo { 
  
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.logo img{ 
  
   width: 50px;
  height: 50px;
 
  
}






/*fin menu*/

/* main*/  
.main{
  background-color: #fff;
}

.contenedorMain {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "destacado"
      "about"
      "compra";
  background-color: #fff;
}

.contenidoUno {
  grid-area: destacado;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.905)), url(../images/andrea-dovizioso-ducati-team-1.jpg);
  background-size: cover;
  height: 50em;
  width: 100%;
  margin-top: 1.0 rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.contenidoUno__titulo {
  padding-top: 12.5rem;
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  align-self: center;
  color: #fff;
}
.contenidoUno__subtitulo {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  align-self: center;
  color: #fff;
  padding: 1rem; }

  .contenidoDos__img {
    grid-area: foto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 90%;
}
.contenidoDos__texto {
  grid-area: texto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contenidoDos__titulo {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
  padding-left: 1.875rem;
  color: #482d2d;
}
.contenidoDos__parrafo {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2rem;
    color: #1e1616;
    padding-top: 1.875rem;
}
.contenidoDos{
  display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 20px;
    padding: 20px;

}







/* cards*/
.cards {
  background-color: white;
  padding: 50px 15px;
  text-align: center;
}

.card-body img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 100%;
  transition: transform 0.3s ease;
}

.card-body {
  display: inline-block;
  width: 30%;
  text-align: left;
  background-color: rgb(56, 54, 54);
  border: 5px solid rgb(0, 0, 0);
  margin: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card-body:hover img {
  transform: scale(1.1);
}

.card-body h2,
.card-body p {
  color: white;
  padding: 15px;
}

.new1 {
    background-color: rgb(85, 255, 0);
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 0px;

}
.new2{
  background-color: rgb(255, 255, 0);
  padding: 5px ;
  position: absolute;
  top: 10px;
  right: 0px;


} 
.new3{
  background-color: rgb(255, 0, 0);
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 0px;

}

/*cajas */

.cajas {
    padding: 50px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #5757559e;
    align-items: center;
    gap: 150px;
    
}
.cajas h2{
  
  color: #000;
}
.cajas p{
  color: rgb(109, 20, 20);
}



.cajac1{
  
  display: flex;
  justify-content: center;
  align-items: center;

}
.cajac2{
  
    display: flex;
    flex-direction: row-reverse;
    justify-content : center;
    align-items: center;
    
}
.cajac3{
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.cajac4{
  
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
   
}

/*footer*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "contenido img redes"
 "creador creador creador";
  height: auto;
  background-color: #000; }
  .footer__contenido {
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.6rem; }
  .footer__titulo, .footer__redesTitulo {
    font-family: "Bebas Neue", cursive;
    font-size: 2rem;
    align-self: center;
    color: #fff; }
  .footer__parrafo {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    color: #c5c5c5;
    align-self: center; }
  .footer__hrContenido, .footer__hrRedes {
    width: 60%;
    height: 1px;
    background-color: #fff; }
  .footer__img {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__imagen {
    align-self: center;
    width: 3.75rem; }
  .footer__redes {
    grid-area: redes;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.6rem; }
  .footer__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .footer__link {
    color: #c5c5c5;
    font-size: 1.5rem;
    align-self: center;
    letter-spacing: 30px;
    transition: 1s; }
  .footer__link:hover {
    transform: scale(1.05);
    color: #fff; }
  .footer__creador {
    grid-area: creador;
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__diseñador {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2rem; }
  .footer__linke {
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: 1s; }
  .footer__linke:hover {
    transform: scale(1.05);
    text-decoration: none;
    color: #000000; }


  @media screen and (max-width: 768px) {

    

    /* Ajusta el diseño para pantallas más pequeñas */
    .footer {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "img"
        "redes"
        "contenido"
        "creador";
    }
  
    .footer__contenido,
    .footer__redes {
      padding: 1.2rem;
    }
}
